In [ ]:
 import numpy as np
import pandas as pd
import os

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import joblib
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv(r"/content/collegePlace.csv")
df.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                2966 non-null   int64
 1   Gender             2966 non-null   object
 2   Stream             2966 non-null   object
 3   Internships        2966 non-null   int64
 4   CGPA               2966 non-null   int64
 5   Hostel             2966 non-null   int64
 6   HistoryOfBacklogs  2966 non-null   int64
 7   PlacedOrNot        2966 non-null   int64
dtypes: int64(6), object(2)
memory usage: 185.5+ KB

In [ ]:
df.isnull().sum()

Age                  0
Gender               0
Stream               0
Internships          0
CGPA                 0
Hostel               0
HistoryOfBacklogs    0
PlacedOrNot          0
dtype: int64

In [ ]:
def transformationplot(feature):
  plt.figure(figsize=(12,5))
  plt.subplot(1,2,1)
  sns.distplot(feature)
  transformationplot(np.log(df['Age']))

In [ ]:
@app.route('/')
def hello():
   return render_template("index.html")

In [ ]:
from flask import Flask, render_template , request
app=Flask(__name__)
import pickle
import joblib
model=pickle.load(open("placement123.pkl",'rb'))
ct=joblib.load('placement')

In [ ]:
 best_k={“Regular”:0}
best_score={“Regular”:0}
for k in range{3,50,2};
           ## Using Regular training set
           Knn_temp = KneighborsClassifier(n_neighbors=k)
           Knn_temp_fit(x_train, Y_train)
           Knn_temp_pred – knn_temp.predict(x_test)
          Score – metrics.accuracy_score(Y_test, knn_temp_pred) * 100
          if score >=best_score[“Regular”] and score < 100:
                   best_score[“Regular”] = score 
                    best_k[“Regular”] = k

print(“---Results---\nk: {}\nscore: {}”.format(best_k, best_score))
## Instantiate the models
Knn = KneighborsClassifier(n_neighbors=best_k[“Regular”])
## Fit the model to the training set
Knn.fit(X_train, Y_test)
Knn_pred – knn.predict(X_test)
Tested = accuracy_score(knn_pred, Y_test)